.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("../../assets/images/doc.jpg");
  background-size: cover;
  background-position: center;
  min-width: 88vw;
  background-repeat: repeat;
}
